.bitter-text {
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.average-text {
  font-family: "Average", serif;
  font-weight: 400;
  font-style: normal;
}
.raleway-text {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inria-serif-text {
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: normal;
}
.inria-serif-bold {
  font-family: "Inria Serif", serif;
  font-weight: 700;
  font-style: normal;
}


h1 {
   font-family: bitter-text;
}
.gol{
  height:100px; 
  color: white;
  background-color: #2A3778;
  text-align:left;
  width: 100%;

}
