h1 {
  text-align: left;
  font-family: "Press Start 2P";
  color: white;
  font-size: 18px;
  padding: 15px;
}

body {
  background-color: black;
}

.card {
    background: linear-gradient(135deg, #77bb44, #107c10);
    height: 650px;
    width: 70%px;
}

p{
  color:white
}
