h1{
  text-align: center;
  font-family: "Press Start 2P";
  color: white;
  font-size: 42px;
  text-align:center;
  line-height:1.2;
}
body{
  background-color: #0B161E;
}
.card{
    float:left;
    background: linear-gradient(135deg, #77bb44 35%, #107c10 100%);
    width:98%;
    height:auto;
    padding-left:10px;
}

p{
    color:white;
}
h5{
    font-family:serif;
    color:white;
    font-size:18px;
}

hr{
    border:3px, solid white;
    margin-left: 0;
    padding-right:7px;
    margin-top:0;
    margin-bottom:0;
    width: 98%;
}
.data{
    width:75%;
    margin: 10px auto;
    padding:10px;
    color:white;
    font-weight:bold;
    float:left;
}
.sec{
    background: #171717;
}
